.todo {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.input-form {
  display: flex;
  margin-bottom: 1.5rem;
}
.todo-input {
  flex: 1;
  margin-right: 1rem;
}
.notification {
  margin-bottom: 1rem;
}
.todo-list {
  flex: 1;
  overflow-y: auto;
}
